.giraffeHome {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-image: url("../../assets/background_1.jpeg");
    background-size: cover;
    background-color: #fde8d1; /* Used if the image is unavailable */
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}


.giraffeHome__title {
    font-size: 80px;
    font-weight: 700;
    align-content:center;
    padding: 20px;
    margin-left: 35rem;
    margin-top: 11rem;
    background-image: linear-gradient(
            -225deg,
            #090101 0%,
            #44107a 29%,
            #d0662e 67%,
            #5f5e3c 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    text-align: center;
}


.otherBtn {
    margin-left: 63%;
    top: -4rem;
    aspect-ratio: 3;
    color: #44107a;
    padding: 20px;
    box-shadow: 10px -3px 0.5px rgba(208, 102, 46, 0.2);
}




@media screen and (max-width: 1110px) {
    .giraffeHome__title {
        font-size: 66px;
        margin-left: 18rem;
        margin-top: 9rem;
    }

    .homeBtn {
        top: -3rem;
        margin-left: 56%;
        padding: 0 20px;
        font-size: 17.3px;
        }
    
}

@media screen and (max-width: 540px) {
    .giraffeHome__title {
        font-size: 40px;
        margin-left: 5rem;
        margin-top: 7rem;
    }

    .homeBtn {
        top: -2rem;
        margin-left: 40%;
        font-size: 16px;
        aspect-ratio: 4;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}