.navbar {
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    position: relative;
    z-index: 2;
}


ul {
    list-style: none;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu li {
    padding: 0 2rem;
    color: #B8742C;
    font-weight: 600;
}

.navbar-menu li:hover {
    color: #5f5e3c;
    font-weight: 900;
}
