.navbar {
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 1.2em;
    position: relative;
    z-index: 2;
}


ul {
    list-style: none;
}

.navbar-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-menu ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.navbar-menu li {
    display: block;
    padding: 5px;
    margin: 0 20px;
    color: #B8742C;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}


.navbar-menu ul:hover li{
    transform: scale(1);
    opacity: .2;
    filter: blur(1px);
}

.navbar-menu ul li:hover {
    filter: blur(0);
    transform: scale(1.3);
    opacity: 1;
}
