.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.facts-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

h1 {
    color: #fff;
    padding: 0 20px;
}

button {
    aspect-ratio: 1;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    border: none;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.button:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 8px;
    border-radius: 28px;
    background: conic-gradient(#D0D6B3, 0deg,
    #21d4fd,
    #0000 30deg 120deg,
    #b721ff 150deg 180deg,
    #0000 210deg 300deg,
    #21d4fd 330deg);
    -webkit-mask: -webkit-gradient(#000 0 0) content-box
;
}


p {
    color: #fff;
    font-size: 18px;
}